//
// Menu Scene
// =============================================================================


.ag-menu-screen {

  @extend %fill;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: transparentize($black, $screen-opacity);


  //
  //
  //

  // ag-menu-screen__content
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    flex: 1;

    max-height: 25rem;
  }

  // ag-menu-screen__title
  &__title {
    @extend .page-title;
  }

  // ag-menu-screen__menu-buttons
  &__menu-buttons {
    display: flex;
    flex-direction: column;
  }
}
