//
// In Game Scene
// =============================================================================

.ag-in-game-screen {

  @extend %fill;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;

  margin: 1rem;

  // ===========================================================================

  // ag-in-game-screen__back-button
  &__back-button {
    @extend .menu-btn;
    align-self: flex-start;
  }

  // ag-in-game-screen__timer
  &__timer {
    @extend %fill;
    left: auto;

    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 8px;

    background: #fff;
    border: 2px solid #666;
    color: $persian-red;
    text-align: center;

    font-size: 28px;
    font-weight: 900;

    overflow: hidden;
  }

  // ag-in-game-screen__qa-wrapper
  &__qa-wrapper {
    background: $black;
    margin: -1rem;
    padding: 2rem;
  }

  // ag-in-game-screen__qa
  &__qa {
    max-width: 40rem;
    margin: auto;
  }

  // ag-in-game-screen__answer
  &__answers {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-end;
  }

  // ag-in-game-screen__answer
  &__answer  {
    @extend .menu-btn;
    flex: 1;
    flex-basis: 50%;

    @media (max-width: 480px) {
      flex-basis: 100%;
    }
  }
}



