<section ng-class="inGame.style.screen">

  <header ng-class="inGame.style.header">
    <button ng-class="inGame.style.backButton"
     ui-sref="menu">
      Back
    </button>

    <h4 ng-class="inGame.style.score">
      Score : {{ inGame.score }} €
    </h4>
  </header>


  <div ng-class="inGame.style.timer" ng-show="inGame.askQuestion">
    {{ inGame.askQuestion.remainingTime }}
  </div>

  <div ng-class="inGame.style.qaWrapper"
   ng-show="inGame.askQuestion">

    <div ng-class="inGame.style.qa">
      <h3 ng-class="inGame.style.question">
        {{ inGame.askQuestion.question }}
      </h3>

      <div ng-class="inGame.style.answers">
        <button
         ng-class="inGame.style.answer"
         ng-click="inGame.userAnswer(answers)"
         ng-repeat="answers in inGame.askQuestion.answers"
         >
          {{ :: answers }}
        </button>
      </div>
    </div>
  </div>

  <h1
   ng-class="inGame.answerResponse.valid ? inGame.style.rightResponse : inGame.style.falseResponse"
   ng-show="inGame.answerResponse">
      <span ng-show="inGame.answerResponse.valid">
        Right
      </span>
      <span ng-hide="inGame.answerResponse.valid">
        Nope
      </span>
  </h1>

</section>
