<section class="ag-in-game-screen">

  <header class="ag-in-game-screen__header">
    <button class="ag-in-game-screen__back-button"
     ui-sref="menu">
      Back
    </button>

    <h4 class="ag-in-game-screen__score">
      Score : {{ inGame.score }} €
    </h4>
  </header>


  <div class="ag-in-game-screen__timer" ng-show="inGame.askQuestion">
    {{ inGame.askQuestion.remainingTime }}
  </div>

  <div class="ag-in-game-screen__qa-wrapper"
   ng-show="inGame.askQuestion">

    <div class="ag-in-game-screen__qa">
      <h3 class="ag-in-game-screen__question">
        {{ inGame.askQuestion.question }}
      </h3>

      <div class="ag-in-game-screen__answers">
        <button
         class="ag-in-game-screen__answer"
         ng-click="inGame.userAnswer(answers)"
         ng-repeat="answers in inGame.askQuestion.answers"
         >
          {{ :: answers }}
        </button>
      </div>
    </div>
  </div>

  <h1
   class="ag-in-game-screen__response"
   ng-class="{
     'ag-in-game-screen__response--right': inGame.answerResponse.valid,
     'ag-in-game-screen__response--false': !inGame.answerResponse.valid
   }"
   ng-show="inGame.answerResponse">
      <span ng-show="inGame.answerResponse.valid">
        Right
      </span>
      <span ng-hide="inGame.answerResponse.valid">
        Nope
      </span>
  </h1>

</section>
