.ag-bg-video-wrapper, .ag-bg-user-select, .ag-about-screen, .ag-about-screen:before, .ag-about-screen:after, .ag-in-game-screen, .ag-in-game-screen__timer, .ag-menu-screen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.menu-btn, .ag-about-screen__back-button, .ag-in-game-screen__back-button, .ag-in-game-screen__answer {
  box-sizing: border-box; }

body {
  margin: 0; }

html, body {
  background: #111;
  font-family: "Fugaz One", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #f1f1f1; }

button {
  background: none;
  border: 0;
  padding: 0;
  color: inherit;
  display: block;
  text-align: center;
  text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1; }

.menu-btn, .ag-about-screen__back-button, .ag-in-game-screen__back-button, .ag-in-game-screen__answer {
  font-family: "Fugaz One", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  padding: 1em 2em;
  border: 1px solid #f1f1f1;
  text-transform: uppercase;
  background: rgba(17, 17, 17, 0.2); }
  .menu-btn:active, .ag-about-screen__back-button:active, .ag-in-game-screen__back-button:active, .ag-in-game-screen__answer:active, .menu-btn:hover, .ag-about-screen__back-button:hover, .ag-in-game-screen__back-button:hover, .ag-in-game-screen__answer:hover, .menu-btn--active {
    background: #f1f1f1;
    color: #111;
    font-weight: 900; }
  .menu-btn:focus, .ag-about-screen__back-button:focus, .ag-in-game-screen__back-button:focus, .ag-in-game-screen__answer:focus {
    font-weight: 900; }

.page-title, .ag-menu-screen__title {
  font-weight: 900;
  font-style: italic;
  font-size: 2rem;
  padding: 1rem;
  border-bottom: 1px solid #f1f1f1; }

.ag-bg-video-wrapper {
  z-index: -99;
  bottom: 3px; }

.ag-bg-user-select {
  z-index: 0;
  background: transparent; }

.ag-about-screen {
  display: flex;
  z-index: 1; }
  .ag-about-screen:before, .ag-about-screen:after {
    z-index: -1;
    content: ''; }
  .ag-about-screen:before {
    right: 50%;
    background: rgba(26, 118, 193, 0.6); }
  .ag-about-screen:after {
    left: 50%;
    background: rgba(202, 53, 47, 0.6); }
  .ag-about-screen__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 2rem;
    margin: 2rem;
    border: 1px #f1f1f1 solid; }
  .ag-about-screen__back-button {
    color: inherit;
    align-self: flex-end;
    font-size: .8rem; }

.ag-in-game-screen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
  margin: 1rem; }
  .ag-in-game-screen__back-button {
    align-self: flex-start; }
  .ag-in-game-screen__timer {
    left: auto;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 8px;
    background: #fff;
    border: 2px solid #666;
    color: #ca352f;
    text-align: center;
    font-size: 28px;
    font-weight: 900;
    overflow: hidden; }
  .ag-in-game-screen__qa {
    background: #111;
    margin: -1rem;
    padding: 2rem; }
  .ag-in-game-screen__answers {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-end; }
  .ag-in-game-screen__answer {
    flex: 1;
    flex-basis: 50%; }

.ag-menu-screen {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(17, 17, 17, 0.6); }
  .ag-menu-screen__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    max-height: 25rem; }
  .ag-menu-screen__menu-buttons {
    display: flex;
    flex-direction: column; }
    .ag-menu-screen__menu-buttons + .ag-menu-screen__menu-buttons {
      margin-top: 1rem; }
