//
//
//

// =============================================================================
// Settings
// =============================================================================

// Colors

$black: #111;
$denim: hsl(207, 76%, 43%);
$persian-red: hsl(2, 62%, 49%);
$white: #f1f1f1;

//

$primary-color: $denim;
$secondary-color: $persian-red;

// Fonts

$title-font-family: "Fugaz One", "Helvetica Neue", Helvetica, Arial, sans-serif;

// Other

$screen-opacity: .4;

// =============================================================================
// Tools
// =============================================================================

%fill {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

%box-sizing {
  box-sizing: border-box;
}

// =============================================================================
// Generic
// =============================================================================

body {
  margin: 0;
}

// =============================================================================
// Base
// =============================================================================

html, body {
  background: $black;
  font-family: $title-font-family;
  color: $white;
}

button {
  background: none;
  border: 0;
  padding: 0;
  color: inherit;
  display: block;
  text-align: center;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
}

// =============================================================================
// Object
// =============================================================================

.button {

}

// =============================================================================
// Components
// =============================================================================

.menu-btn {

  @extend %box-sizing;

  font-family: $title-font-family;
  font-size: 1em;

  padding: 1em 2em;
  border: 1px solid $white;
  text-transform: uppercase;

  background: transparentize($black, $screen-opacity * 2);


  // Variants
  // ===================

  &:active,
  &:hover,
  &--active {
    background: $white;
    color: $black;
    font-weight: 900;
  }

  &:focus {
    font-weight: 900;
  }

}

.page-title {
  font-weight: 900;
  font-style: italic;
  font-size: 2rem;

  padding: 1rem;
  border-bottom: 1px solid $white;
}

// =============================================================================
// Specific
// =============================================================================

.ag-bg-video-wrapper {
  @extend %fill;
  z-index: -99;
  overflow: hidden;
}

//

.ag-bg-user-select {
  // Just to prevent the user to click on the youtube iframe
  @extend %fill;
  z-index: 0;
  background: transparent;
}

//

@import "scenes/aboutScene/aboutScene";
@import "scenes/inGameScene/inGameScene";
@import "scenes/menuScene/menuScene";
